{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}リクエスト詳細{% endblock %}</h1>
{% endblock %}

{% block content %}
  <label for="date">日付</label>
  <span name="date" id="date">{{ postdata['date'] }}</span>
    
  <label for="action">行動</label>
  <span name="action" id="action">{{ postdata['action'] }}</span>

  <label for="place">取引先</label>
  <span name="place" id="place">{{ postdata['place'] }}</span>
  
  <label for="money">金額</label>
  <span name="money" id="money">{{ postdata['money'] }}</span>
  
  {% if postdata['flag'] == 0 %}
  <form method="post">

    <div>
      <label for="shipname">誰の承認か選択</label>
        <select name="family" id="family">
        {% for family in postfamily %}
          <option value="{{ family['famname'] }}">{{ family['famname'] }}</option>
        {% endfor %}
        </select>
    </div>

    <div>
      <input type="submit" value="承認する" onclick="return confirm('本当に承認しますか?');">
    </div>

  </form>

    <div>
      <a class="warning" href="{{ url_for('history.warning', id=postdata['id']) }}">この取引を却下する</a>
    </div>
    
  {% endif %}

<a href="{{ url_for('history.index') }}">戻る</a>

{% endblock %}